.mobile-skills a {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 58px;
    height: 58px;

    border-radius: 14px;

    background: rgba(255,255,255,0.03);

    border: 1px solid rgba(194,143,68,0.15);

    overflow: hidden;

    transition: 0.25s ease;
}

.mobile-skills a:hover {

    border-color: rgba(194,143,68,0.45);

    box-shadow:
            0 0 14px rgba(194,143,68,0.25);

    background-image: linear-gradient(
            120deg,
            rgba(255,255,255,0.03) 0%,
            rgba(194,143,68,0.25) 50%,
            rgba(255,255,255,0.03) 100%
    );

    background-size: 200% 100%;

    animation: electricFlow 1.5s linear infinite;
}

/* ========================================
   KEYFRAMES
======================================== */

@keyframes electricFlow {

    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}